<!-- USERS index.ejs -->
<header>
  <%- include('../partials/header.ejs') %>
  </header>
<!-- When user goes through Google OAuth and is now admitted into the bar of choice -->
<html lang="en">
  <body class="chatPage">
    

  
    <nav class="userNav"> 

          <a href="/" id="home"><span class="iconify" data-icon="healthicons:home-negative" data-inline="false" width="40px" height="40px"></span><br><span id="homepage">Home</span></a>

    <% if (users) { %>

          <a href="/logout" id="userLogout"><span class="iconify" data-icon="ls:logout" data-inline="false" width="40px" height="40px"></span><br><span>LogOut</span></a>

    <% } else { %>

          <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
    <% } %>

    </nav>

    <div id="users">
      <h1>Welcome To: <%= currentUser.barChoice %></h1><br><br>

      <% users.forEach(function(user) { %>
        <% if (currentUser.barChoice === user.barChoice) { %>
        <div>
        <span class="title">
            <b> Profile: </b><br><br>

            <span class="user-name"> <%= user.name %> </span><br><br>
            <span class="user-photo"><img src="<%= user.photo %>" alt="Profile Picture"></span><br><br>

    <% if (user.barChoice) { %><span class="badge white">
    <%= user.barChoice %></span><% } %>

          </span><br><br>
        </div>

        <table>
          <thead>
            <th class="comments"></th>
        <tbody>
          <% user.comments.forEach(function(comment) { %>
        
        <tr>
            <td><%= comment.text %><br>
                <%= comment.drink %></td>
       
            <% if (user._id.equals(currentUser._id)) { %>
             <td>  
              <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST" id="delete-comment">
              <button type="delete" class="btn white-text"  id="delCommentBtn"><span class="iconify" data-icon="fa-solid:dumpster-fire" data-inline="false"></span></button>
              </form>
            </td>
        </tr>

          <% } %>
          <% }) %>

        </tbody>
          </thead>
        </table><br>
        <% if (user._id.equals(currentUser._id)) { %>

          <div class="newComment">
            <form action="/users/<%= user._id %>" method="POST">
              <input type="text" name="text" id="text" value="Message..."
              onblur="if(this.value==''){ this.value='Message...'; this.style.color='#BBB';}"
              onfocus="if(this.value=='Message...'){ this.value=''; this.style.color='#000';}"
              style="color:#BBB;" />
              <select name="drink" id="drink">
                <option value=" ||  I'm fueled on sheer force of air and anger alone"></option>
                <option value=" ||  Currently Drinking: Beer"> Beer </option>
                <option value=" ||  Currently Drinking: Wine"> Wine </option>
                <option value=" ||  Currently Drinking: Whiskey"> Whiskey </option>
                <option value=" ||  Currently Drinking: Brandy"> Brandy </option>
                <option value=" ||  Currently Drinking: Vodka"> Vodka </option>
                <option value=" ||  Currently Drinking: Water"> Water </option>
              </select>

              
              <button type="submit" class="btn white-text" id="addCommentBtn"><span class="iconify" data-icon="icon-park-outline:message-emoji" data-inline="false" style="height:35px; width:65px;"></span></button>
            </form>
        </div>
          <% } %>
          <% } %>
          <% }) %>
  </div>


  </body>
  </html>

  <footer>
    <%- include('../partials/footer.ejs') %>
    </footer>