<!-- USERS index.ejs -->
<header>
  <%- include('../partials/header.ejs') %>
  </header>
<!-- When user goes through Google OAuth and is now admitted into the bar of choice -->
<html lang="en">
  <div class="chatPage">
    <nav class="userNav"> 

          <a href="/" id="home"><span class="iconify" data-icon="healthicons:home-negative" data-inline="false" width="40px" height="40px"></span><br><span id="homepage">Home</span></a>

    <% if (users) { %>

          <a href="/logout" id="userLogout"><span class="iconify" data-icon="ls:logout" data-inline="false" width="40px" height="40px"></span><br><span>LogOut</span></a>

    <% } else { %>

          <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
    <% } %>

    </nav>
 
<div id="users">

    <% users.forEach(function(user) { %>
      
      <h1>Welcome To: <%= user.barChoice %></h1><br><br>

        <div>
        <span class="title">
            <b> Profile: </b><br><br>

            <span class="user-name"> <%= user.name %> </span><br><br>
            <span class="user-photo"><img src="<%= user.photo %>" alt="Profile Picture"></span><br><br>

    <% if (user.barChoice) { %><span class="badge white"> Bar
    <%= user.barChoice %></span><% } %>

          </span><br><br>
        </div>

        <ul class="comments">

          <% user.comments.forEach(function(comment) { %>

          <li class="collection-item blue-grey-text text-darken-2">
            <%= comment.text %>
            <%= comment.drink %>
          </li>

          <% if (user._id.equals(currentUser._id)) { %>

          <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST" id="delete-comment">
            <button type="delete" class="btn white-text"  id="delCommentBtn"><span class="iconify" data-icon="fa-solid:dumpster-fire" data-inline="false"></span></button>
          </form>

          <% } %>
          <% }) %>

          </ul><br><br>

        <% if (user._id.equals(currentUser._id)) { %>

          <div class="newComment">
            <form action="/users/<%= user._id %>" method="POST">
              <input type="text" name="text" id="text" value="Message..."
              onblur="if(this.value==''){ this.value='Message...'; this.style.color='#BBB';}"
              onfocus="if(this.value=='Message...'){ this.value=''; this.style.color='#000';}"
              style="color:#BBB;" />
              <select name="drink" id="drink">
                <option value=" ||  I'm fueled on sheer force of air and anger alone"></option>
                <option value=" ||  Currently Drinking: Beer"> Beer </option>
                <option value=" ||  Currently Drinking: Wine"> Wine </option>
                <option value=" ||  Currently Drinking: Whiskey"> Whiskey </option>
                <option value=" ||  Currently Drinking: Brandy"> Brandy </option>
                <option value=" ||  Currently Drinking: Vodka"> Vodka </option>
                <option value=" ||  Currently Drinking: Water"> Water </option>
              </select>

              
              <button type="submit" class="btn white-text" id="addCommentBtn" style="height:20px; width:60px;"><span class="iconify" data-icon="icon-park-outline:message-emoji" data-inline="false"></span></button>
            </form>
        </div>
        <% } %>
    <% }) %>
  </div>

  </div>
  </html>

  <footer>
    <%- include('../partials/footer.ejs') %>
    </footer>